
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.btn-primary{
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}
.text-center{
  text-align: center;
}

/* header */
.header{
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-title{
  font-weight: bold;
  font-size: 65px;
  margin: 0px;
  color: #252432;
}

/* Nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px;
  padding: 0px 100px 100px;
}

.nav-title{
  font-weight: 800;
  font-size: 34px;
  color: #4E47FF;
}

nav ul li{
  list-style: none;
}

/* banner styles */

.banner-content{
  text-align: center;
  padding-bottom: 200px;
  margin-top: 80px;
}
.banner-polishing{
  margin-bottom: 60px;
}

/* main styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}

/* section styles */
.section-title{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  opacity: 0.36;
  margin-bottom: 10px;
}
.section-description{
  font-size: 24;
  font-weight: 600;
  opacity: 0.5;
  margin: 0 0 10px 0;
}

.section-profile-pic{
  width: auto;
  height: 338px;
  border-radius: 40px;
}
.action{
  display: flex;
  justify-content: space-between;
  margin: 150px 0 0 0;
}
.action-content{
  max-width: 580px;
  padding-top: 50px;
}

/* joined styles */
.joined{ 
  background-color: aliceblue;
  border-radius: 15px;
  margin-top: 100px;
  padding: 50px 80px;
}
.joined-title{
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin-bottom: 0px;
}
.joined-items{
  display: flex;
  justify-content: space-around;
}
.join-item{
  margin: 0;
  padding: 0;
}
.item-title{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}
.item-description{
  font-size: 20px;
  font-weight: 600;
  color: #252432;
  opacity: 0.5;
  margin-top: 0px;
}

/* users style */
.users-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-top: 100px;
}

/* skill styles */
.skills-container{
  display: flex;
  gap: 24px;
  padding: 30px;
  border-radius: 20px;
}
.skill-title{
  font-size: 24px;
  font-weight: bold;
  color: #252432;
}
.skill-description{
  font-size: 18px;
  font-weight: 600;
  color: #252432;
  opacity: 0.5;
}
.img-skill{
  border-radius: 50%;
  margin-top: 20px;
}
.img-area{
  display: flex;
}
.img-text{
  margin-left: 20px;
}
.skills{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px antiquewhite;
  border-radius: 15px;
}

/* focus styles */
.focus{
  background-color: whitesmoke;
}
.focus-title{
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}
.focus-sub{
  font-size: 16px;
  font-weight: 600;
  color: #252432;
  opacity: 0.5;
  margin-top: 0px;
}
.focus-area{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 71px;
}
.img-focus{
  border-radius: 25px;
}
.focus-head{
  padding-top: 71px;
}



